node_modules
jspm_packages
bower_components
.idea
.DS_STORE
confidential
npm-debug.log
scripts/css/
scripts/fonts/
server/config/config.development.js
server/config/config.development.js
yarn-error.log
yarn.lock
