node_modules
jspm_packages
bower_components
.chrome
.idea
.DS_STORE
confidential
npm-debug.log
scripts/css/
scripts/fonts/
client-ts-wp/dist
server/config/config.development.js
server/config/config.development.ts
server/dist
yarn-error.log
