# Node.js

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules/
client-cli/node_modules/
client-cli/scripts/app-bundle.js
client-cli/scripts/app-bundle.js.map
client-cli/scripts/vendor-bundle.js

client-wp/node_modules/
client-wp/dist
client-wp/build

dist
.tmp
.nodemon
bower_components/
.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
test/coverage/
logs/*
!.gitkeep
