jspm_packages
bower_components
.idea
screenshots
client-ts-wp/dist
server/config/config.development.js
server/config/config.development.ts
server/dist
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
