.italic {
  font-style: italic;;
}

::-webkit-input-placeholder { color: #c0c0c0 !important; }
::-moz-placeholder { color: #c0c0c0 !important; }
:-ms-input-placeholder { color: #c0c0c0 !important; }

#applicationTodo {
  background: rgb(232, 232, 232);
  font-family: "Segoe UI",Arial,Helvetica,sans-serif;

    position: absolute;
    left: 50%;
    width: 700px;
    margin-top: 20px;
    margin-left: -350px;
    background: white;

    -o-box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 30px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 30px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 30px;

    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

#applicationTodo form {
  padding: 0 20px 5px 20px;
}
#applicationTodo header {
    text-align: center;
}

#applicationTodo header h1,h2 {
    font-size: 3em;
}
#applicationTodo header h2 { font-size: 1.5em;}

#applicationTodo header input {
    font-size: 0.75em;
    margin: 0.25em 0 0.5em 0;
    padding: 8px;
}
#applicationTodo label {
  font-size: 0.90em;
}

#applicationTodo section.todo {
    position: relative;
    left: 50%;
    margin-left: -275px;
    margin-bottom: 2.2em;
    font-size: 1.4em;
    width: 550px;
    padding-left: 15px;
}

#applicationTodo section.todo .mark-all {
    position: relative;
    top: -5px;
}

#applicationTodo section.todo .mark-all label {
    font-size: .60em;
}

#applicationTodo section.todo li {
    padding: 16px 0 16px 0;
    border-bottom: 1px solid rgb(191, 191, 191);
}

#applicationTodo section.todo li:last-child {
    border-bottom: 0;
}

#applicationTodo section.todo label.done {
      /*Hack for IE9 repaint bug*/
    padding: 1px;
    text-decoration: line-through;
}

#applicationTodo section.todo label.archived {
    color: tan;
}

#applicationTodo section.todo li a {
    float: right;
    display: none;
    text-decoration: none;
}

#applicationTodo section.todo li:hover a{
    display: block;
}

#applicationTodo section.todo li input[type="text"] {
    font-size: 1em;
    width: 548px;
}

#applicationTodo section.todo .timestamp {
  font-size: 0.55em;
  font-style: italic;
  margin: -10px 0 0 25px;
  color: grey;
  display: block;
}

#applicationTodo footer {
    background: blue;
    border-top: 1px solid black;
    color: white;
    font-weight: bold;
    height: 35px;

    background: #1e5799;

    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;

    -o-box-shadow: rgba(0, 0, 0, 1) -1px 0px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) -1px 0px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 1) -1px 0px 1px;
    box-shadow: rgba(0, 0, 0, 1) 0px -1px 1px;
}

#applicationTodo footer div {
    position: relative;
    top: 8px;
    left: 8px;
    float: left;
}

#applicationTodo footer a {
    float: right;
    border: 1px solid black;

    position: relative;
    top: 5px;
    right: 10px;
    padding: 3px 8px;
    color: white;
    text-decoration: none;

    background: transparent;

    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;

    -o-box-shadow: rgba(0, 0, 0, 1) 0px 0px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0px 0px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0px 0px 10px;
    box-shadow: rgba(0, 0, 0, 1) 0px 0px 10px;
}
.controlLinks {
    position: relative;
    top: 4px;
    font-size: .75em;
    margin-bottom: 10px;
}
@media screen and (max-width: 700px) {
    #applicationTodo {
        width: 100%;
        height: 100%;
        margin: 0;
        left: 0;
        top: 4px;
        position: fixed;
    }

    #applicationTodo header h1 {
        font-size: 2.5em;
    }
    #applicationTodo header h2 {
        font-size: 1.5em;
    }
    #applicationTodo header input {
        font-size: 1.5em;
        padding: 4px;
    }

    #applicationTodo section.todo {
        margin-left: -140px;
        font-size: 1.5em;
        width: 280px;
    }

    #applicationTodo section.todo .mark-all {
        position: relative;
        top: -10px;
    }

    #applicationTodo section.todo .mark-all label {
        font-size: .50em;
    }

    #applicationTodo section.todo li input[type="text"] {
        font-size: 1em;
        width: 270px;
    }

    #applicationTodo footer {
        position: fixed;
        bottom: 0px;
        width: 100%;

        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
}
